.header-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    max-height: 5em;
    z-index:1;
}

.logo {
    float:'left';
    padding: 5;
    max-width: 50;
}

.options {
    float: 'right';
    margin-right: 3em;
    display: flex;
}

.option {
    font: caption;
    margin-right : 2em;
}

