@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
.footer-container-ft {
    height : 13em;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: italic;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-left: 4em;
    padding-right: 4em;
    background-color: aquamarine;
}

.right-ft{
    padding-top: 1px;
    padding-right: 4em;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    background-color: aquamarine;
}